{% extends 'admin/master.html'%}


{% block body %}

<div class="container mt-3">
    <h1>Nhập sách</h1>


    <div class="row mt-4">
        <div class="col">
            <div class="form-group">
                <label for="sel1">Chọn sách</label>
                <select class="form-control" id="sel1">
                    {% for sach in sachs %}
                    <option>{{sach.ten_sach}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="usr">Số lượng</label>
                <input type="number" class="form-control" id="usr" min="150">
            </div>
        </div>
    </div>

    <button type="button" class="btn btn-primary btn-lg mt-3">Thêm</button>
    <div class="row">
        <div class="col">
            <div class="row mt-3">
                <div class="col">Tên sách</div>
                <div class="col">Tác giả</div>
                <div class="col">Thể loại</div>
                <div class="col">Số lượng</div>
            </div>
            <div class="row" style="border: 1px solid black;">
                <div class="col"></div>
                <div class="col"></div>
                <div class="col"></div>
                <div class="col"></div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <button type="button" class="btn btn-primary" mt-3>Tạo phiếu nhập sách</button>
        </div>
    </div>
    <form action="/admin/nhapphieuview/" method="GET">
        <div class="row mt-5">
            <div class="col">
                <div class="form-group">
                    <label for="sel1">Tác giả :</label>
                    <select class="form-control" id="tacgia_search" name="tacgia_search">
                        {% for tacgia in tacgias %}
                        <option>{{ tacgia.ten_tac_gia }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="sel1">Thể loại : </label>
                    <select class="form-control" id="theloai_search" name="theloai_search">
                        {% for theloai in theloais %}
                        <option>{{theloai.ten_the_loai}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col">
                <button type="submit" class="btn btn-primary">Tìm kiếm</button>
            </div>
        </div>

    </form>
    <div class="row mt-3">
        <div class="col">Ảnh bìa</div>
        <div class="col">Tên sách</div>
        <div class="col">Tác giả</div>
        <div class="col">Thể loại</div>
        <div class="col">Số lượng</div>
    </div>
    {% for sach in sachs %}
    <div class="row" style="border: 1px solid black;">

        <div class="col">
            <div class="card" style="width: 50px; height: 80px;">
                <img class="card-img-top" src="{{sach.bia_sach}}"
                     alt="Card image">
                <div class="card-body">
                </div>
            </div>
        </div>
        <div class="col">{{sach.ten_sach}}</div>
        <div class="col">{{sach.tac_gia.ten_tac_gia}}</div>
        <div class="col">{{sach.the_loai.ten_the_loai}}</div>
        <div class="col">{{sach.so_luong_cuon_con_lai}}</div>
    </div>
    {% endfor %}

</div>


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>


{% endblock %}