{% extends 'admin/master.html'%}


{% block body %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
<script src="{{ url_for('static', filename='js/books_import_cart.js')}}"></script>


<div class="container mt-3">
    {% if err_msg %}
    <div class="alert alert-danger">
        {{err_msg}}
    </div>
    {% endif %}
    <h1>Nhập sách</h1>
    <h6>Số lượng tối thiểu của đầu sách để được nhập: {{sl_min_to_nhap}}</h6>
    <h6>Số lượng tối thiểu khi nhập sách: {{sl_nhap_min}}</h6>

    <form id="add-book-form">
        <div class="row mt-4">
            <!-- Dropdown chọn sách -->
            <div class="col">
                <select class="form-control" id="sach_nhap" name="sach_nhap">
                    {% for sach in sachs %}
                    <option value="{{ sach.id }}"
                            data-ten="{{ sach.ten_sach }}"
                            data-bia="{{ sach.bia_sach }}">{{ sach.ten_sach }}
                    </option>
                    {% endfor %}
                </select>
            </div>
            <!-- Input số lượng -->
        </div>
        <!-- Nút thêm -->
        <div class="mt-3">
            <button type="button" class="btn btn-primary" id="add-book-button"
                    onclick="addBookFromSelect({{sl_nhap_min}})">Thêm
            </button>
        </div>
    </form>

    <div class="mt-4">
        <h3>Danh sách sách đã chọn:</h3>

        <div id="nhung_code_html">

            {% if cart is not none and cart|length > 0 %}
            {% for c in cart.values() %}
            <div class="row" id="book_import_cart{{c.id}}">
                <div class="col-3 d-flex align-items-center">
                    <img src="{{c.bia_sach}}" class="img-fluid" alt="Book Image">
                </div>
                <div class="col-4 d-flex align-items-center">
                    <h6>{{c.ten_sach}}</h6>
                </div>
                <div class="col-2 d-flex align-items-center">
                    <input id="so_luong_{{c.id}}" type="number" class="input-text qty text" title="SL" size="4" min="1" max="99"
                           step="1" value="{{c.so_luong}}" onblur="updateBook({{c.id}}, this)"/>

                </div>
                <div class="col-1 d-flex align-items-center">
                    <a onclick="deleteBookInBooksImportCart({{c.id}})"
                       class="btn btn-accent d-flex align-items-center justify-content-center">
                        <i class="fa-solid fa-trash"></i>
                    </a>
                </div>
            </div>
            {% endfor %}
            {% endif %}

        </div>


        <form action="/admin/nhapphieuview/create" method="POST">
            <input type="hidden" name="books_data" id="books_data">
            <button style="margin:20px;" type="submit" class="btn btn-success">Tạo phiếu nhập sách</button>
        </form>
    </div>


    <form action="/admin/nhapphieuview/" method="GET">
        <div class="row mt-5">
            <div class="col">
                <div class="form-group">
                    <label for="sel1">Tác giả :</label>
                    <select class="form-control" id="tacgia_search" name="tacgia_search">
                        <option>{{ None }}</option>
                        {% for tacgia in tacgias %}
                        <option>{{ tacgia.ten_tac_gia }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="sel1">Thể loại : </label>
                    <select class="form-control" id="theloai_search" name="theloai_search">
                        <option>{{ None }}</option>
                        {% for theloai in theloais %}
                        <option>{{theloai.ten_the_loai}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col">
                <button type="submit" class="btn btn-primary">Tìm kiếm</button>
            </div>
        </div>

    </form>
    <div class="row mt-3">
        <div class="col">Ảnh bìa</div>
        <div class="col">Tên sách</div>
        <div class="col">Tác giả</div>
        <div class="col">Thể loại</div>
        <div class="col">Số lượng</div>
    </div>
    {% for sach in sachs %}
    <div class="row" style="border: 1px solid black;">

        <div class="col">
            <div class="card" style="width: 50px; height: 80px;">
                <img class="card-img-top" src="{{sach.bia_sach}}"
                     alt="Card image">
                <div class="card-body">
                </div>
            </div>
        </div>
        <div class="col">{{sach.ten_sach}}</div>
        <div class="col">{{sach.tac_gia.ten_tac_gia}}</div>
        <div class="col">{{sach.the_loai.ten_the_loai}}</div>
        <div class="col">{{sach.so_luong}}</div>
    </div>
    {% endfor %}

</div>

<script>
    function addBookFromSelect(so_luong) {
        var selectElement = document.getElementById('sach_nhap');
        var selectedOption = selectElement.options[selectElement.selectedIndex];

        // Lấy giá trị ID
        var id = selectedOption.value;

        // Lấy tên sách từ thuộc tính data
        var ten_sach = selectedOption.getAttribute('data-ten');

        // Lấy bìa sách từ thuộc tính data
        var bia_sach = selectedOption.getAttribute('data-bia');

        // Gọi hàm addBook với các tham số đã chuẩn bị
        addBook(id, ten_sach, bia_sach, so_luong);
    }
</script>

{% endblock %}