{% extends 'admin/master.html'%}


{% block body %}


<div class="conainer">
    <div class="col">
        <div class="d-flex flex-row-reverse">
            <button type="button" class="m-2 float-right btn btn-dark">Xuất file</button>
        </div>
        <div class="row">
            <div class="col-lg-2">
                <form>
                    <label for="sel_yearf">Chọn năm</label>
                    <select class="form-control" id="sel_yearf" name="sel_yearf">
                        {% for y in range(2000,2025) %}
                        <option>{{y}}</option>
                        {% endfor %}
                    </select>
                    <label for="sel_monthf">Chọn tháng</label>
                    <select name="sel_monthf" id="sel_monthf" class="form-control">
                        {% for m in range(1,12) %}
                        <option>{{m}}</option>
                        {% endfor %}
                    </select>
    
                    <label for="the_loaif">Thể loại</label>
                    <select name="the_loaif" id="the_loaif" class="form-control">
                        {% for t in tl %}
                        <option>{{t.ten_the_loai}}</option>
                        {% endfor %}
                        <option>Tất cả</option>
                    </select>
                    <button type="submit" class="mt-2 btn btn-primary">Lọc</button>
                </form>
            </div>  
            <div class="col-lg-10">
                
                <table class="table table-dark table-hover">
                    <thead class="thead-light">
                        <th>STT</th>
                        <th>Mã sách</th>
                        <th>Tên Sách</th>
                        <th>Thể loại</th>
                        <th>Số lượng bán</th>
                        <th>Tỉ lệ</th>
                    </thead>
                    <tbody>
                        {% set i = 0 %}
                        {% for s in fstats%}
                        <tr>
                            <td>{{i}}</td>
                            {%set i=i+1%}
                            <td>{{s[0]}}</td>
                            <td>{{s[1]}}</td>
                            <td>{{s[2]}}</td>
                            <td>{{s[3]}}</td>
                            <td>{{s[4]}}</td>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
       <div class="row">
           <div class="col-md-7 col-xs-12">
               <canvas id="myPieChart"></canvas>
           </div>
       </div>

    </div>
<div>

</div>

</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{ url_for('static', filename='pie-chart.js') }}"></script>
{% endblock %}