<header id="header"
        class="bsb-tpl-bg-50 sticky-top bsb-spacer-top-3 bsb-spacer-top-md-5 bsb-spacer-top-xl-6 bsb-tpl-header-sticky bsb-tpl-header-sticky-animation fw-bold">

    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Navbar 1 - Bootstrap Brain Component -->
                <nav class="navbar navbar-expand-lg bsb-navbar bsb-navbar-hover bsb-navbar-caret bsb-tpl-navbar-sticky bg-white border border-dark px-xl-3"
                     data-bsb-sticky-target="#header">
                    <div class="container">
                        <a class="navbar-brand" href="/">
                            <img src="https://res.cloudinary.com/dmbvjjg5a/image/upload/v1733314021/rb_2149325326_fzgk1t.png"
                                 style="width: 100px; height: auto;" alt="Logo">
                        </a>
                        <button class="navbar-toggler border-0" type="button" data-bs-toggle="offcanvas"
                                data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                 class="bi bi-list" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                      d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                            </svg>
                        </button>
                        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                             aria-labelledby="offcanvasNavbarLabel">
                            <div class="offcanvas-header">
                                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
                                        aria-label="Close"></button>
                            </div>
                            <div class="offcanvas-body">
                                <ul class="navbar-nav justify-content-end flex-grow-1">
                                    <li class="nav-item">
                                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/shop">Mua sách</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/cart"><i class="fas fa-shopping-cart"></i>
                                            Giỏ hàng
                                            <span class="badge bg-danger cart-counter">
                                                {{cart.total_quantity}}
                                            </span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasSearch"
                                             aria-labelledby="offcanvasSearchLabel">
                                            <div class="offcanvas-body">
                                                <form action="/search" method="GET" id="search-form">
                                                    <input type="text" name="kw" class="form-control"
                                                           placeholder="Nhập từ khóa tìm kiếm..."
                                                           value="{{ request.args.get('query', '') }}">
                                                    </button>
                                                </form>
                                            </div>
                                        </div>

                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="accountDropdown" role="button"
                                           data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="fas fa-user"></i> Tài khoản
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="accountDropdown">
                                            {% if current_user.is_authenticated %}
                                            <!-- Đã đăng nhập -->
                                            <li><a class="dropdown-item" href="/profile">Thông tin tài khoản</a></li>
                                            <li><a class="dropdown-item" href="/logout">Đăng xuất</a></li>
                                            {% else %}
                                            <!-- Chưa đăng nhập -->
                                            <li><a class="dropdown-item" href="/login">Đăng nhập</a></li>
                                            <li><a class="dropdown-item" href="/register">Đăng ký</a></li>
                                            {% endif %}
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>

</header>