{% extends 'layout/base.html' %}

{% block content %}

<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="container border border-dark my-5 py-3">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <img src="{{sach.bia_sach}}" class="img-fluid" alt="{{sach.ten_sach}}"
                     style="width: 100%; height: auto; object-fit: cover; border: 1px; border-radius: 5px;">
            </div>
            <div class="col-md-8 col-sm-12">
                <h1 style="margin-bottom: 20px;">{{sach.ten_sach}}</h1>
                <p>
                    <i class="fa-solid fa-user"></i>
                    <strong>Tác giả:</strong> {{sach.tac_gia.ten_tac_gia}}
                </p>
                <p>
                    <i class="fa-solid fa-tag"></i>
                    <strong>Thể loại:</strong> {{sach.the_loai.ten_the_loai}}
                </p>
                <p>
                    <strong>Số lượng:</strong> {{sach.so_luong}}
                </p>
                <p>
                    {{sach.noi_dung}}
                </p>
                <h4 style="color: green; font-weight: bold;">{{ "{:,.0f}".format(sach.don_gia) }} ₫</h4>


                <hr>

                {% if sach.so_luong>0 %}
                <div class="col-2 d-flex align-items-center">
                    <input type="button" value="-" class="minus button ís-form"
                    onclick="changeInputNumericValue(-1, document.getElementById('inputQuantity'))">

                    <input type="number" class="input-text qty text" title="SL" size="4" min="1" max="99"
                           step="1" placeholder="" inputmode="numeric" autocomplete="off"
                    value="1" id="inputQuantity"/>

                    <input type="button" value="+" class="plus button ís-form"
                    onclick="changeInputNumericValue(1, document.getElementById('inputQuantity'))">
                </div>

                <a href="javascript:;"
                   onclick="addToCart({{sach.id}}, '{{sach.ten_sach}}', {{sach.don_gia}},
                   '{{sach.bia_sach}}', parseInt(document.getElementById('inputQuantity').value, 10))"
                   class="btn btn-accent mt-4 align-items-center gap-2"
                   style="border: 1px solid green; border-radius: 5px; padding: 5px 10px; color: green;
font-weight: bold;">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <span>Thêm vô giỏ hàng</span>
                </a>
                {% else %}
                <h1 style="color: red;">Hết hàng</h1>
                {% endif %}

            </div>
        </div>
    </div>
</div>

{% endblock %}