{% extends 'layout/base.html' %}

{% block content %}

<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="container border border-dark my-5 py-3">

        <div class="row">
            <div class="col-md-8 col-sm-12 align-items-center">

                {% for c in session['cart'].values() %}
                <div class="row" id="cart{{ c.id }}">
                    <div class="col-3 d-flex align-items-center">
                        <img src="{{ c.bia_sach }}" class="img-fluid" alt="Book Image">
                    </div>
                    <div class="col-4 d-flex align-items-center">
                        <h6>{{ c.ten_sach }}</h6>
                    </div>
                    <div class="col-2 d-flex align-items-center">
                        <bdi>{{ "{:,.0f}".format(c.don_gia) }}₫</bdi>
                    </div>
                    <div class="col-2 d-flex align-items-center">
                        <input type="button" value="-" class="minus button ís-form"
                               onclick="changeQuantity({{ c.id }}, -1, document.getElementById('cartQuantity{{ c.id }}'))">

                        <input onblur="updateCart({{ c.id }}, this)" type="number" class="input-text qty text"
                               value="{{ c.so_luong }}" title="SL" size="4" min="1" max="99"
                               step="1" placeholder="" inputmode="numeric" autocomplete="off"
                               id="cartQuantity{{ c.id }}"/>

                        <input type="button" value="+" class="plus button ís-form"
                               onclick="changeQuantity({{ c.id }}, 1, document.getElementById('cartQuantity{{ c.id }}'))">
                    </div>
                    <div class="col-1 d-flex align-items-center">
                        <a onclick="deleteCart({{c.id}})"
                           class="btn btn-accent d-flex align-items-center justify-content-center">
                            <i class="fa-solid fa-trash"></i>
                        </a>
                    </div>
                </div>
                {% endfor %}

            </div>
            <div class="col-md-4 col-sm-12">
                <h3>Tiêu đề</h3>
                <p>Mô tả ngắn gọn về nội dung liên quan đến hình ảnh hoặc chức năng của trang này.</p>
            </div>
        </div>


    </div>
</div>
</div>

{% endblock %}
