{% extends 'layout/base.html' %} {% block content %}
<!-- Hero 6 - Bootstrap Brain Component -->
<section class="py-4 py-md-5 py-xl-8">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div
          class="container-fluid bsb-hero-6 bsb-overlay border border-dark"
          style="
            --bsb-overlay-opacity: 0.75;
            --bsb-overlay-bg-color: var(--bs-light-rgb);
            background-size: cover;
            background-image: url(&quot;https://res.cloudinary.com/dmbvjjg5a/image/upload/v1733559943/03GLASSIE-SUB-superJumbo_um0b4n.jpg&quot;);
          "
        >
          <div class="row justify-content-md-center align-items-center">
            <div class="col-12 col-md-11 col-xl-10">
              <h2 class="display-1 text-center text-light text-md-start text-shadow-head fw-bold mb-4">
                Welcome to BookStore
              </h2>
              <p
                class="lead text-center text-md-start text-shadow-body text-light mb-5 d-flex justify-content-sm-center justify-content-md-start"
              >
                <span class="col-12 col-sm-10 col-md-8 col-xxl-7"
                  >Where every squeak, every rattle, and every wobble finds its solution, ensuring your ride is always
                  smooth and worry-free.</span
                >
              </p>
              <div class="d-grid gap-2 d-sm-flex justify-content-sm-center justify-content-md-start text-light">
                <a href="/shop/" class="btn bsb-btn-2xl btn-outline-light text-light">Explore More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
