{% extends 'layout/base.html' %}

{% block content %}
<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="container border border-dark my-5 py-3">
        <div class="row">
            <h1 class="text-center">Đăng nhập</h1>
        </div>

        {% if err_msg %}
        <div class="alert alert-danger">
            {{err_msg}}
        </div>
        {% endif %}

        {% if success_msg %}
        <div class="alert alert-success">
            {{success_msg}}
        </div>
        {% endif %}

        <div class="row">
            <form method="post" class="needs-validation">
                <div class="form-group mb-3 mt-3">
                    <label for="username">Tài khoản</label>
                    <input type="text" class="form-control" required id="username" placeholder="Tên tài khoản" name="username">
                    <div class="valid-feedback">Valid</div>
                    <div class="invalid-feedback">Please fill out this field</div>
                </div>
                <div class="form-group mt-3 mb-3">
                    <label for="password">Mật khẩu</label>
                    <input type="password" class="form-control" required id="password" placeholder="Mật khẩu" name="password">
                    <div class="valid-feedback">Valid</div>
                    <div class="invalid-feedback">Please fill out this field</div>
                </div>
                <div>
                    <input type="submit" value="Đăng nhập" class="btn btn-success">
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    // Disable form submissions if there are invalid fields
    (function() {
      'use strict';
      window.addEventListener('load', function() {
        // Get the forms we want to add validation styles to
        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function(form) {
          form.addEventListener('submit', function(event) {
            if (form.checkValidity() === false) {
              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add('was-validated');
          }, false);
        });
      }, false);
    })();
</script>
{% endblock %}
