{% extends 'layout/base.html' %}

{% block content %}

<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="container border border-dark my-5 py-3">
        <div class="col-md-4 col-sm-12">
            <img src="{{current_user.avatar}}" class="rounded-circle" alt="{{current_user.username}}"
                 style="width: 100%; height: auto; object-fit: cover; border: 1px; border-radius: 5px;">
        </div>
        <div class="col-md-8 col-sm-12">

        </div>
    </div>
</div>

{% endblock %}